*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
transition:0.3s;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#add8e6;
padding:20px;
}

.container{
width:950px;
min-height:520px;
background:white;
border-radius:20px;
overflow:hidden;
display:flex;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.left{
width:50%;
padding:50px;
display:flex;
flex-direction:column;
justify-content:center;
}

.left h1{
font-size:45px;
color:#add8e6;
margin-bottom:10px;
}

.left p{
color:#555;
margin-bottom:30px;
line-height:1.5;
}

input{
width:100%;
padding:14px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:10px;
font-size:15px;
outline:none;
}

input:focus{
border-color:#add8e6;
box-shadow:0 0 5px rgba(173,216,230,0.5);
}

button{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#add8e6;
color:white;
font-size:16px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#95cada;
}

.links{
margin-top:20px;
text-align:center;
}

.links a{
text-decoration:none;
color:#add8e6;
font-size:14px;
}

.links a:hover{
text-decoration:underline;
}

.right{
width:50%;
background:#1f1f1f;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:30px;
}

.profile{
width:200px;
height:200px;
border-radius:50%;
background:white;
display:flex;
justify-content:center;
align-items:center;
font-size:90px;
}

.right h2{
margin-top:20px;
font-size:35px;
}

.right p{
margin-top:10px;
color:#bbb;
}

@media(max-width:850px){

.container{
flex-direction:column;
width:100%;
}

.left,
.right{
width:100%;
}

.right{
padding:50px 20px;
}

/* =========================================
FORM CONTAINER
========================================= */

.form-container{
width:650px;
background:white;
border-radius:20px;
padding:45px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.subtitle{
color:#666;
margin-bottom:20px;
line-height:1.6;
}

.terms{
font-size:13px;
color:#666;
line-height:1.6;
margin:15px 0;
}

.checkbox{
display:flex;
align-items:center;
gap:8px;
margin-bottom:20px;
font-size:14px;
}

.checkbox input{
width:16px;
height:16px;
}

.link{
margin-top:18px;
text-align:center;
}

.link a{
color:#add8e6;
text-decoration:none;
}

.message{
margin-top:15px;
font-size:14px;
color:green;
text-align:center;
}

}